/* || Block - Services with carousel
   ========================================================================== */
// Features:
// services block with carousel to display each service
// serivices as card having centered content with rounded icon
// split and normal heading

@use '../../../abstracts/variables' as var;
@use '../../../base/sitewide';
@use '../../../layout/layout-base';
@use '../../../components/card/card-center-round-icon/card-center-round-icon';
@use 'sass:color';

.services-carousel {
	background-color: color.adjust(var.$bc-ternary-lighter, $hue: 15);
	padding: 32px 0 50px;

	@media screen and (min-width: var.$laptop-view) {
		padding: 70px 0 80px;
	}
}

/* normal heading */
.sc-heading {
	text-align: center;
	@extend %ffp-cp-xl-font;
	@extend %base-500;
}

.sc-para {
	text-align: center;
	@extend %normal-300;
	@extend %ffp-cs-s-font;
	margin-bottom: 75px;
}

// carousel item
.sc-carousel-item {
	padding-left: 10px;
	padding-right: 10px;

	@media screen and (min-width: var.$tablet-view) {
		padding-left: 20px;
		padding-right: 20px;
	}
}

// Optional
// ----------

/* split heading */
.sc-split-heading {
	text-align: center;
}

/* split heading first text */
.sc-sh-first-txt {
	@extend %ffp-cp-xl-font;
	@extend %base-500;

	@media screen and (min-width: var.$pc-view) {
		font-size: var.$fs-xl + 0.2rem;
	}
}

/* split heading second text */
.sc-sh-second-txt {
	@extend %ffp-bcs-xl-font;
	@extend %base-700;

	@media screen and (min-width: var.$pc-view) {
		font-size: var.$fs-xl + 0.2rem;
	}
}

/* layout margin fixed */
.sc-lm-fixed {
	@extend %lm-fixed;
}

// Layout margin auto fixed width
.sc-lm-auto-fw {
	@extend %lm-auto-fixed-width;
}

.sc-link-wrapper {
	@extend %link-wrapper-basic;
	outline: none;
}
