/* || Component - Button SVG fixed size
   -------------------------------------------------------------------------- */
// The component support only svg code in the HTML
// In the future make this component work with JS so we can dynamically add SVG 
// code in the HTML so this won't clutter HTML, so don't need to care about 
// HTML once adding the component

@use 'sass:color';
@use '../../abstracts/variables' as var;
@use '../../abstracts/mixins' as mx;

$background-color: var.$bc-secondary;

.btn-svg-fixed-size {
	@include mx.btn-icon-compatible($bg-color: var.$bc-secondary,
		$border: none,
		$width: 35px,
		$height: 35px,
		$border-radius: 4px,
		$outline: 2px solid var.$c-primary,
		$outline-offset: -2px,
		$transition: (background-color 0.2s ease, outline 0.2s ease));
}

.btn-svg-fs-svg {
	@include mx.svg-fixed-size($color: false,
		$width: 10px,
		$height: 10px,
		$stroke: false,
		$fill: var.$bc-primary);
}