/* || Components - Attribution single line with background
   ========================================================================== */
// Link color in this component is same as description with underline 
@use '../../abstracts/variables' as var;
@use '../../abstracts/mixins' as mx;
@use 'sass:color';

$font-size: var.$fs-xs  !default;
$color: var.$bc-primary  !default;
$line-height: var.$lh-wide  !default;
$font-weight: 400 !default;
$background-color: var.$bc-secondary  !default;
$font-family: var.$ff-secondary;

.attr-sl-background {
	@if $background-color {
		background-color: $background-color;
	}
}

.attr-sl-bg-cnt {
	font-size: $font-size;
	color: $color;
	line-height: $line-height;
	font-weight: $font-weight;
	margin: 0;
	font-family: $font-family;
}

.attr-sl-bg-a {
	@include mx.link-border-underline;
}