/* || Block - Services with carousel
   ========================================================================== */
// Features:
// services block with carousel to display each service
// serivices as card having centered content with rounded icon
// split and normal heading

@use '../../../abstracts/variables' as var;
@use '../../../layout/layout-base';
@use '../../../components/card/card-center-round-icon/card-center-round-icon';
@use 'sass:color';

.services-centered-cards {
	background-color: color.adjust(var.$bc-tertiary-lighter, $hue: 15);
	padding-top: 40px;
	padding-bottom: 30px;

	@media screen and (min-width: var.$laptop-view) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
}

/* normal heading */
.services-cc-heading {
	text-align: center;
	@extend %ffp-cp-xl-font;
	@extend %base-500;
}

.services-cc-para {
	text-align: center;
	@extend %normal-300;
	@extend %ffp-cs-s-font;
	margin-bottom: 50px;
}

.services-cc-cards-wr {
	@extend %flex-dc-h-center;
	row-gap: 30px;

	@media screen and (min-width: var.$mobile-landscape-view) {
		column-gap: 10px;
		flex-flow: row wrap;
		justify-content: center;
		align-items: flex-start;
	}

	@media screen and (min-width: var.$mobile-landscape-view) {
		column-gap: 20px;
	}
}

.services-cc-card {
	padding: 30px 20px;
	max-width: 400px;

	@media screen and (min-width: var.$mobile-landscape-view) {
		flex: 1 0 290px;
	}
}

// Optional
// ----------

/* split heading */
.services-cc-split-heading {
	text-align: center;
}

/* split heading first text */
.services-cc-sh-first-txt {
	@extend %ffp-cp-xl-font;
	@extend %base-500;

	@media screen and (min-width: var.$pc-view) {
		font-size: var.$fs-xl + 0.2rem;
	}
}

/* split heading second text */
.services-cc-sh-second-txt {
	@extend %ffp-bcs-xl-font;
	@extend %base-700;

	@media screen and (min-width: var.$pc-view) {
		font-size: var.$fs-xl + 0.2rem;
	}
}

/* layout margin fixed */
.services-cc-lm-fixed {
	@extend %lm-fixed;
}

// Layout margin auto fixed width
.services-cc-lm-auto-fw {
	@extend %lm-auto-fixed-width;
}

.services-cc-link-wr {
	@extend %link-wrapper-basic;
	outline: none;
}