/* || Block - Testimonial carousel
  =========================================================================== */

@use '../../abstracts/variables' as var;
@use '../../base/sitewide';
@use '../../layout/layout-base';
@use '../../components/card/card-center-profile';

.testimonial-carousel {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;

	@media screen and (min-width: var.$tablet-view) {
		padding-top: 60px;
		padding-bottom: 80px;
	}
}

.tc-lm-fixed {
	@extend %lm-fixed;
}

.tc-lm-auto-fw {
	@extend %lm-auto-fixed-width;
}

.tc-heading-normal {
	@extend %ffp-cp-xl-font;
	@extend %base-500;
}

.tc-sh-first-txt {
	@extend %ffp-cp-xl-font;
	@extend %base-500;

	@media screen and (min-width: var.$pc-view) {
		font-size: var.$fs-xl + 0.3rem;
	}
}

.tc-sh-second-txt {
	@extend %ffp-bcs-xl-font;
	@extend %base-700;

	@media screen and (min-width: var.$pc-view) {
		font-size: var.$fs-xl + 0.3rem;
	}
}

.tc-para {
	text-align: center;
	@extend %normal-300;
	@extend %ffp-cs-s-font;
}

.tc-carousel {
	margin-top: 30px;
}
