/* || Block - Hero image description
   ========================================================================== */
// Features:
// two column layout with margin less image
// split heading, normal heading and subheading
// read more link

@use '../../abstracts/variables' as var;
@use '../../base/typography';
@use '../../layout/grid';
@use '../../components/button/btn-capsule-hover-wipe';


.hero-img-desc {
	padding-bottom: 60px;

	@media screen and (min-width: var.$tablet-view) {
		display: flex;
	}

	@media screen and (min-width: var.$laptop-view) {
		align-items: center;
	}
}

.hero-id-lm-fixed {
	@extend %lm-fixed;
}

.hero-id-lm-fixed-l-tv {
	@extend %lm-fixed-left-tv;
}

.hero-id-column {}

.hero-id-desc-column {
	margin-bottom: 27px;

	@media screen and (min-width: var.$tablet-view) {
		flex: 1 0 50%;
		margin-bottom: 0;
	}

	@media screen and (min-width: var.$laptop-view) {
		flex: 1 0 40%;
	}
}

.hero-id-img-column {
	overflow: hidden;
}

.hero-id-heading {
	margin: 0;
	@extend %ffp-cp-xxl-font;
	@extend %base-500;
}

.hero-id-split-heading {
	margin: 0;
}

.hero-id-sh-content {
	display: block;

	@media screen and (min-width: var.$mobile-landscape-view) {
		display: initial;
	}
}

.hero-id-sh-first-text {
	@extend %ffp-cp-xxl-font;
	@extend %base-500;
}

.hero-id-sh-second-text {
	@extend %ffp-bcs-xxl-font;
	@extend %base-700;
}

.hero-id-subheading {
	@extend %ffp-cp-xxl-font;
	@extend %base-300;
	margin: 0;
}

.hero-id-para {
	@extend %ffp-cs-s-font;
	@extend %normal-400;
}

.hero-id-read-more {
	margin-top: 13px;
}

.hero-id-img {
	width: 100%;
	// for animation
	position: relative;
	left: 100%;

	@media screen and (min-width: var.$tablet-view) {
		height: 100%;
		object-fit: cover;
		object-position: 22% top;
	}

	@media screen and (min-width: var.$laptop-view) {
		object-position: center;
	}
}

.hero-id-img-animate {
	left: 0;
	transition: left 1s ease;
}