/* || Block - Contact us with map and form
   ========================================================================== */
// Features:
// Each details (address, phone) with a rounded icon
// Map and form
// Heading and paragraph

@use '../../abstracts/variables' as var;
@use '../../abstracts/mixins' as mx;
@use '../../base/typography';
@use '../../base/sitewide';
@use '../../layout/layout-base';
@use '../../components/icon/icon-rounded-bg';
@use 'sass:color';

.contact-map-form {
	padding-top: 70px;
	background-color: color.adjust(var.$bc-ternary-lighter, $hue: 13deg);

	@media screen and (min-width: var.$tablet-view) {
		padding-top: 80px;
	}
}

.contact-mf-lm-fixed {
	@extend %lm-fixed;
}

.contact-mf-lm-auto-fw {
	@include mx.lm-auto-fixed-width($max-width: 800px);
}

.contact-mf-wr {
	@media screen and (min-width: var.$tablet-view) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 30px 60px;
	}
}

.contact-mf-desc-wr {
	@media screen and (min-width: var.$tablet-view) {
		grid-column: 1;
		grid-row: 1;
	}
}

.contact-mf-heading {
	margin: 0;
	@extend %ffp-cp-xl-font;
	@extend %base-500;
}

.contact-mf-split-heading {
	margin: 0;
}

.contact-mf-sh-first-text {
	@extend %ffp-cp-xl-font;
	@extend %base-500;

	@media screen and (min-width: var.$pc-view) {
		font-size: var.$fs-xl + 0.3rem;
	}
}

.contact-mf-sh-second-text {
	@extend %ffp-bcs-xl-font;
	@extend %base-700;

	@media screen and (min-width: var.$pc-view) {
		font-size: var.$fs-xl + 0.3rem;
	}
}

.contact-mf-para {
	@extend %ffp-cs-s-font;
	@extend %normal-300;
}

.contact-mf-details-wr {
	margin-top: 35px;

	@media screen and (min-width: var.$pc-view) {
		display: flex;
		align-items: center;
		column-gap: 30px;
	}
}

.contact-mf-detail {
	@extend %flex-v-center;
	margin-bottom: 25px;

	@media screen and (min-width: var.$pc-view) {
		margin-bottom: 0;
		flex: 1;
	}
}

.contact-mf-detail-icon {
	flex-shrink: 0;
}

.contact-mf-detail-content {
	padding-left: 18px
}

.contact-mf-dc-heading {
	@extend %fft-cp-s-font;
	@extend %base-400;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

.contact-mf-dc-desc {
	@extend %fft-cs-s-font;
	@extend %base-500;
}

.contact-mf-map-wr {
	height: 400px;
	margin-top: 35px;

	@media screen and (min-width: var.$mobile-landscape-view) {
		height: 350px;
	}

	@media screen and (min-width: var.$tablet-view) {
		margin-top: 20px;
		grid-column: 1 / 3;
		grid-row: 2;
	}
}

.contact-mf-map {
	display: block;
}

.contact-mf-form {
	margin-top: 35px;

	@media screen and (min-width: var.$tablet-view) {
		margin-top: 5px;
		grid-column: 2;
		grid-row: 1;
	}
}