/* || Block - Price overlaped cards with centered content
   ========================================================================== */
// Features:
// overlaped styled cards with centered content
// only suitable for 3 cards(price)
// Buy now button

@use '../../abstracts/variables' as var;
@use '../../base/typography';
@use '../../layout/grid';
@use '../../components/card/card-center-shadow';

.price-overlap-card-center {
	padding-top: 48px;
	padding-bottom: 48px;
	background-color: var.$bc-primary;
}

.price-occ-lm-fixed {
	@extend %lm-fixed;
}

.price-occ-heading {
	margin: 0;
	@extend %ffp-cp-xl-font;
	@extend %base-500;
}

.price-occ-split-heading {
	margin: 0;
	text-align: center;
}

.price-occ-sh-content {}

.price-occ-sh-first-text {
	@extend %ffp-cp-xl-font;
	@extend %base-500;
}

.price-occ-sh-second-text {
	@extend %ffp-bcs-xl-font;
	@extend %base-700;
}

.price-occ-para {
	@extend %ffp-cs-s-font;
	@extend %normal-300;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 560px;
}

.price-occ-price-wr {
	padding-top: 25px;

	@media screen and (min-width: var.$tablet-view) {
		display: flex;
		gap: 20px 25px;
		justify-content: center;
		flex-wrap: wrap;
	}
}

.price-occ-price {
	min-width: 275px;
	max-width: 350px;
	margin: 0 auto;

	&:not(:first-child) {
		margin-top: 16px;
	}

	@media screen and (min-width: var.$tablet-view) {
		&:not(:first-child) {
			margin-top: 0;
		}

		flex: 1;
	}
}