/* || Components - Hamberger close buttons
   -------------------------------------------------------------------------- */

@use '../../abstracts/variables' as var;
@use '../../abstracts/mixins' as mx;
@use '../../base/utilities';

$background-color: var.$bc-secondary;

.hamburger-close-btn {
	margin: 10px;
	@include mx.btn-icon-compatible($bg-color: var.$bc-secondary,
		$border: none,
		$width: 35px,
		$height: 35px,
		$border-radius: 4px,
		$outline: 2px solid var.$c-primary,
		$outline-offset: -2px,
		$transition: (background-color 0.2s ease, outline 0.2s ease));
}

.hc-btn-icon {
	@include mx.svg-fixed-size($color: false,
	$width: 10px,
	$height: 10px,
	$stroke: false,
	$fill: var.$bc-primary);

	opacity: 1;
	transition: opacity 0.3s ease;
}

.hc-btn-icon-inactive {
	opacity: 0;
	@extend %hide-visually;
}