/* || Components - Breadcrumbs center forward slash
   ========================================================================== */

@use '../../../abstracts/variables' as var;
@use '../../../base/typography';
@use '../../../base/sitewide';

.breadcrumbs-center {
	background-color: var.$bc-tertiary-lighter;
	text-align: center;
	padding-top: 22px;
	padding-bottom: 22px;
}

.bc-center-content {
	@extend %fft-cs-s-font;
	@extend %base-500;
}

// Optional
// -------------

.bc-center-site-link {
	@extend %site-link-c-secondary;
	text-decoration: none;
	outline: none;
}