/* || Component - Gallery queue
   -------------------------------------------------------------------------- */
// Feature:
// Full width and columnwise on mobile, fixed height flexible row on other 
// devices

@use '../../abstracts/variables' as var;
@use '../../base/sitewide';
@use '../../components/image/image-foreground-desc';


.gallery-queue {
	@media screen and (min-width: var.$mobile-portrait-view) {
		display: flex;
		flex-flow: row wrap;
		gap: 10px 15px;
		justify-content: center;
	}

	@media screen and (min-width: var.$tablet-view) {
		flex-wrap: nowrap;
	}

	@media screen and (min-width: var.$laptop-view) {
		gap: 10px;
	}
}

.gq-image-wr {
	&:not(:last-child) {
		margin-bottom: 15px;
	}

	@media screen and (min-width: var.$mobile-portrait-view) {

		flex: 0 1 auto;
		height: 350px;

		&:not(:last-child) {
			margin-bottom: 0;
		}
	}

	@media screen and (min-width: var.$tablet-view) {
		flex: initial;
		height: initial;
	}
}

.gq-link-wr-basic {
	display: block;
	@extend %link-wrapper-basic;
	outline: none;
}

.gq-image {
	@extend %img-icon-cover-top;
}