/* || Block - Hero image description
   ========================================================================== */

@use '../../abstracts/variables' as var;
@use '../../base/typography';

.two-column-img-desc {
	@media screen and (min-width: var.$tablet-view) {
		display: flex;
	}
}

.tc-id-column {}

.tc-id-desc-column {
	margin-bottom: 27px;
	@media screen and (min-width: var.$tablet-view) {
		flex: 2;
		margin-bottom: 0;
	}
}

.tc-id-img-column {
	@media screen and (min-width: var.$tablet-view) {
		flex: 3;
	}
}

.tc-id-heading {
	margin: 0;
}

.tc-id-heading-txt {
	display: block;
}

.tc-id-heading-first-txt {
	@extend %ffp-cp-xxl-font;
	@extend %base-500;
}

.tc-id-heading-second-txt {
	@extend %ffp-bcs-xxl-font;
	@extend %base-700;
}

.tc-id-subheading {
	@extend %ffp-cp-xxl-font;
	@extend %base-300;
	margin: 0;
}

.tc-id-para {
	@extend %ffp-cs-m-font;
	@extend %normal-400;
}

.tc-id-read-more {
	margin-top: 13px;
}

.tc-id-img {
	width: 100%;
}