/* || Component - Logo mobile centered
   ========================================================================== */
@use '../../abstracts/variables' as var;

$logo-center-break: var.$tablet-view;
$font-size: 27px;

.logo-mobile-centered {
	text-align: center;

	@media screen and (min-width: $logo-center-break) {
		text-align: left;
	}
}

.logo-mc-wr {
	display: inline-block;
}

.logo-mc-link {
	cursor: pointer;
	outline: none;
	text-decoration: none;
	line-height: 1;
	font-size: $font-size;

	&:link,
	&:visited,
	&:hover,
	&:active,
	&:focus {
		color: var.$c-primary;
	}
}