/* || Page - about
   ========================================================================== */

@use '../abstracts/variables' as var;
@use '../components/breadcrumbs/breadcrumbs-center';
@use '../blocks/company/company-tab-contents';
@use '../blocks/lead/lead-background';
@use '../blocks/services/services-carousel';
@use '../blocks/brand/brands-img-list';
@use '../blocks/team/team-desc-gallery';
@use '../blocks/testimonial/testimonial-carousel';
@use '../blocks/contact/contact-map-form';
@use '../components/scroll-to-top/scroll-to-top-btn';

// || Company first section

.ctc-about-first-sec {
	padding-top: 0;

	.ctc-desc-column,
	.ctc-split-heading {
		margin-top: -0;
	}

	.ctc-split-heading {
		text-align: center;
	}

	.row-fwt-tab-hr {
		max-width: 450px;
	}

	.row-fwt-body {
		max-width: 650px;
	}

	.row-fwt-tabs-wr,
	.row-fwt-para {
		text-align: center;
	}

	.row-fwt-content {
		min-height: initial;
	}

	.row-fwt-content[data-fwt-content=solution] {
		.counters-splitter-tag {
			max-width: 600px;
		}
	}
}

.ctc-about-last-sec {

	.ctc-img {
		@media screen and (min-width: var.$tablet-view) {
			object-position: center;
		}
	}

	.ctc-para {
		&:first-of-type {
			font-style: italic;
		}
	}
}