/* || Pages - Home
   ========================================================================== */

@use '../abstracts/variables' as var;

// blocks and components
@use '../blocks/hero/hero-img-desc';
@use '../blocks/services/services-carousel';
@use '../blocks/company/company-tab-contents';
@use '../components/tab/row-full-width-tabs';
@use '../blocks/team/team-desc-gallery';
@use '../blocks/price/price-overlap-card-center';
@use '../blocks/lead/lead-background';
@use '../blocks/testimonial/testimonial-carousel';
@use '../blocks/contact/contact-map-form';
@use '../components/scroll-to-top/scroll-to-top-btn';

// || Contact us 

.form-rd-home {
	.form-rd-ul {
		margin-bottom: 0;

		@media screen and (min-width: var.$tablet-view) {
			margin-top: 0;
		}
	}
}

// || Price

.price-occ-home {
	.ul-ci-icon-li {
		@media screen and (min-width: var.$laptop-view) {
			margin-bottom: 10px;
		}
	}
}