/* || Pages - Home
   ========================================================================== */

@use '../abstracts/variables' as var;

// blocks and components
@use '../blocks/hero/hero-img-desc';
@use '../blocks/services/services-carousel';
@use '../blocks/company/company-tab-contents';
@use '../components/tab/row-full-width-tabs';
@use '../blocks/team/team-desc-gallery';
@use '../blocks/price/price-overlap-card-center';
@use '../blocks/lead/lead-background';
@use '../blocks/testimonial/testimonial-carousel';
@use '../blocks/contact/contact-map-form';

// || Company
.ctc-home {
	.ctc-img-column {
		@media screen and (min-width: var.$tablet-view) {
			// for left side image smooth
			position: relative;
		}
	}

	.ctc-desc-column {
		@media screen and (min-width: var.$tablet-view) {
			// for left side image smooth
			position: relative;
			box-shadow: -15px 0px 10px -11px white;
		}
	}
}

// || Price
.price-occ-home {
	.ul-ci-icon-li {
		@media screen and (min-width: var.$laptop-view) {
			margin-bottom: 10px;
		}
	}
}

// || Contact us 
.form-rd-home {
	.form-rd-ul {
		margin-bottom: 0;

		@media screen and (min-width: var.$tablet-view) {
			margin-top: 0;
		}
	}
}