/* || Block - company with tab contents
   ========================================================================== */
// Features:
// two column block with margin less image
// split heading and normal heading
// 

@use '../../abstracts/variables' as var;
@use '../../base/typography';
@use '../../components/button/btn-no-bg-border';

.company-tab-contents {
	margin-top: 50px;

	@media screen and (min-width: var.$tablet-view) {
		display: flex;
	}
}


.ctc-column {}

.ctc-desc-column {
	margin-top: 33px;

	@media screen and (min-width: var.$tablet-view) {
		flex: 1 0 50%;
		margin-top: 0;
		// for left side image smooth
		position: relative;
		box-shadow: -15px 0px 10px -11px white;
	}
}

.ctc-img-column {
	overflow: hidden;

	@media screen and (min-width: var.$tablet-view) {
		// for left side image smooth
		position: relative;
	}
}

/* normal heading */
.ctc-heading {
	text-align: center;
	@extend %ffp-cp-xl-font;
	@extend %base-500;
}

/* split heading */
.ctc-split-heading {
	text-align: center;
}

/* split heading first text */
.ctc-sh-first-text {
	@extend %ffp-cp-xl-font;
	@extend %base-500;
}

/* split heading second text */
.ctc-sh-second-text {
	@extend %ffp-bcs-xl-font;
	@extend %base-700;
}

.ctc-tabs-component-wr {}

.ctc-para {
	@extend %ffp-cs-s-font;
	@extend %normal-300;
}

.ctc-img {
	width: 100%;
	// for transition
	position: relative;
	right: 100%;

	@media screen and (min-width: var.$tablet-view) {
		height: 100%;
		object-fit: cover;
		object-position: left bottom;
	}
}

.ctc-img-animate {
	right: 0;
	transition: right 1s ease;
}