/* || Component - Footer navigation grid with logo, menu, category
   ========================================================================== */
// Features:
// Grid
// Includes logo, simple menu with left arrow on each item and category

@use '../../abstracts/variables' as var;
@use '../../base/typography';
@use '../../base/utilities';
@use '../../layout/layout-base';
@use '../../components/logo/logo-img-link';
@use '../../components/list/ul-background-icon';
@use '../category/category-links-rounded-bg';

.footer-nav-grid-lmc {
	padding-top: 55px;
	padding-bottom: 73px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"logo logo"
		"menucol1 menucol2"
		"menucol3 category";
	gap: 45px 20px;

	@media screen and (min-width: var.$tablet-view) {
		padding-bottom: 50px;
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas:
			"logo menucol1 menucol2"
			"menucol3 category category";
	}

	@media screen and (min-width: var.$laptop-view) {
		padding-bottom: 60px;
		padding-top: 60px;
		grid-template-columns: 18% 15% 15% 20% auto;
		grid-template-areas:
			"logo menucol1 menucol2 menucol3 category";
	}

	@media screen and (min-width: var.$pc-view) {
		grid-template-columns: 15% 15% 15% 20% auto;
	}
}

.fng-lmc-lm-fixed {
	@extend %lm-fixed;
}

.fng-lmc-logo {
	grid-area: logo;
}

.fng-lmc-menu-col1 {
	grid-area: menucol1;
}

.fng-lmc-menu-col2 {
	grid-area: menucol2;

}

.fng-lmc-menu-col3 {
	grid-area: menucol3;

}

.fng-lmc-category {
	grid-area: category;

}

.fng-lmc-menu-heading {
	@extend %ffp-cp-s-font;
	@extend %base-600;
}

.fng-lmc-menu-group {}

// use this if the above rule element is 'ul' element
.fng-lmc-menu-group-ul {
	@extend %ul-no-style;
	margin: 8px 0 11px;
}