/* || Component - Menu item hover underline
   ========================================================================== */

@use '../../abstracts/variables' as var;
@use '../../abstracts/mixins' as mx;
@use '../../base/typography';

.menu-item-hu {
	margin: 0 0 10px 0;

	@media screen and (min-width: var.$mobile-view-landscape) {
		margin: 0 5px;
	}
}

.mi-hu-link {
	display: inline-block;
	padding: 0 8px;
	@extend %ffs-cp-m-font;
	@extend %base-400;

	@include mx.link-basic-modifiers($color: var.$c-primary,
		$visited-color: false,
		$focus-hover-color: false,
		$active-color: var.$bc-secondary);

	@include mx.link-after-underline($underline-height: 2px,
		$width: 100%,
		$left: 0,
		$right: auto,
		$bottom: -2px,
		$top: auto,
		$border-radius: 5px,
		$outline: none,
		$cursor: pointer,
		$underline-opacity-effect: true,
		$underline-transition: (opacity 0.3s ease),
		$underline-color: var.$bc-secondary,
		$underline-focus-hover-color: false,
		$underline-active-color: false);
}

// Inner element with '-txt' along its parent class require to style this menu 
// item, please look for above mixin definition to know more about