/* || Component - Nav menu fixed side
   -------------------------------------------------------------------------- */
// The design is horizontal on larger screens and horizontal on small devices 
// fixed to either right or left with the dark transparent background

@use '../../abstracts/variables' as var;
@use '../../abstracts/mixins' as mx;
@use '../../base/utilities';
@use '../../base/sitewide';
@use '../button/hamburger-close-btn';
@use '../navigation/menu-item-hu';
@use 'sass:color';

.nav-menu-fixed-side {
	position: fixed;
	top: 0;
	right: 0;
	width: 55px;
	height: 55px;
	z-index: 10;
	@extend %flex-h-right;

	@media screen and (min-width: var.$mobile-landscape-view) {
		width: initial;
		height: initial;
		position: initial;
		display: initial;
	}
}

.nav-menu-fs-active {
	width: initial;
	height: initial;
	left: 0;
	bottom: 0;
}

.nm-fs-transparent-bg {
	align-self: flex-start;

	@media screen and (min-width: var.$mobile-landscape-view) {
		display: none;
	}
}

.nm-fs-tbg-active {
	align-self: initial;
	flex: 1 0 auto;
	background-color: color.adjust(var.$c-primary, $alpha: -0.3);
	text-align: right;
	transition: background-color .4s ease;
}

.nm-fs-menu {
	background-color: var.$bc-primary;
	flex: 0;
	overflow: hidden;
	transition: flex 0.5s ease;
}

.nm-fs-menu-active {
	flex: 0 0 250px;

	@media screen and (min-width: 25em) {
		flex: 0 0 300px;
	}
}

// use this and below rule together on ul element and only below rule if on 
// other element
.nm-fs-menu-ul {
	@extend %ul-no-style;
}

.nm-fs-menu-wr {
	overflow: hidden;
	margin: 25px;

	@media screen and (min-width: var.$mobile-landscape-view) {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 0;
	}
}