/* || Layout - Grid
   ========================================================================== */
@use '../abstracts/variables' as var;

// Layout margin fixed
%lm-fixed {
	margin-right: 15px;
	margin-left: 15px;

	@media screen and (min-width: var.$mobile-portrait-view) {
		margin-right: 25px;
		margin-left: 25px;
	}

	@media screen and (min-width: var.$tablet-view) {
		margin-right: 45px;
		margin-left: 45px;
	}

	@media screen and (min-width: var.$pc-view) {
		margin-right: 65px;
		margin-left: 65px;
	}
}

// || Layout margin fixed left 
// Tablet view
%lm-fixed-left-tv {
	@media screen and (min-width: var.$tablet-view) {
		margin-right: initial;
		padding-right: 60px;
	}
}

// Laptop view
%lm-fixed-left-lv {
	@media screen and (min-width: var.$pc-view) {
		margin-right: initial;
		padding-right: 60px;
	}
}

// PC view
%lm-fixed-left-pcv {
	@media screen and (min-width: var.$pc-view) {
		margin-right: initial;
		padding-right: 60px;
	}
}

// || Layout margin fixed right 

// Tablet view
%lm-fixed-right-tv {
	@media screen and (min-width: var.$tablet-view) {
		margin-left: initial;
		padding-left: 60px;
	}
}

// Laptop view
%lm-fixed-right-lv {
	@media screen and (min-width: var.$laptop-view) {
		margin-left: initial;
		padding-left: 60px;
	}
}

// PC view
%lm-fixed-right-pcv {
	@media screen and (min-width: var.$pc-view) {
		margin-left: initial;
		padding-left: 60px;
	}
}

// Layout margin auto
%lm-auto {
	margin-left: auto;
	margin-right: auto;
}

// Layout margin auto fixed width
%lm-auto-fixed-width {
	max-width: 560px;
	@extend %lm-auto;
}