/* || Layout - Grid
   ========================================================================== */
@use '../abstracts/variables' as var;

.layout-margin {
	margin-right: 15px;
	margin-left: 15px;

	@media screen and (min-width: var.$tablet-view) {
		margin-right: 45px;
		margin-left: 45px;
	}

	@media screen and (min-width: var.$laptop-view) {
		margin-right: 45px;
		margin-left: 45px;
	}
}

.fixed-centered {
	max-width: 1300px;
	margin-right: auto;
	margin-left: auto;
}