/* || Abstracts - Header
   ========================================================================== */

@use '../abstracts/variables' as var;

.header-logo {
	margin: 35px 0 0;

	@media screen and (min-width: var.$mobile-view-landscape) {
		margin: 35px 0 15px;
	}
}

.hamburger-close-btn {
	margin: 8px;
}