/* || Layout - Layout base
   ========================================================================== */
@use '../abstracts/variables' as var;

// || Layout margin

// Layout margin fixed
%lm-fixed {
	margin-right: var.$lm-fixed-msv;
	margin-left: var.$lm-fixed-msv;

	@media screen and (min-width: var.$mobile-portrait-view) {
		margin-right: var.$lm-fixed-mpv;
		margin-left: var.$lm-fixed-mpv;
	}

	@media screen and (min-width: var.$tablet-view) {
		margin-right: var.$lm-fixed-tv;
		margin-left: var.$lm-fixed-tv;
	}

	@media screen and (min-width: var.$pc-view) {
		margin-right: var.$lm-fixed-pcv;
		margin-left: var.$lm-fixed-pcv;
	}
}

// Mobile portrait view
%lm-fixed-mpv {

	@media screen and (min-width: var.$mobile-portrait-view) {
		margin-right: var.$lm-fixed-mpv;
		margin-left: var.$lm-fixed-mpv;
	}

	@media screen and (min-width: var.$tablet-view) {
		margin-right: var.$lm-fixed-tv;
		margin-left: var.$lm-fixed-tv;
	}

	@media screen and (min-width: var.$pc-view) {
		margin-right: var.$lm-fixed-pcv;
		margin-left: var.$lm-fixed-pcv;
	}
}

// Mobile tablet view
%lm-fixed-tv {

	@media screen and (min-width: var.$tablet-view) {
		margin-right: var.$lm-fixed-tv;
		margin-left: var.$lm-fixed-tv;
	}

	@media screen and (min-width: var.$pc-view) {
		margin-right: var.$lm-fixed-pcv;
		margin-left: var.$lm-fixed-pcv;
	}
}

// Mobile pc view
%lm-fixed-pcv {

	@media screen and (min-width: var.$pc-view) {
		margin-right: var.$lm-fixed-pcv;
		margin-left: var.$lm-fixed-pcv;
	}
}

// Layout margin fixed left 
// Tablet view
%lm-fixed-left-tv {
	@media screen and (min-width: var.$tablet-view) {
		margin-right: initial;
	}
}

// Laptop view
%lm-fixed-left-lv {
	@media screen and (min-width: var.$pc-view) {
		margin-right: initial;
	}
}

// PC view
%lm-fixed-left-pcv {
	@media screen and (min-width: var.$pc-view) {
		margin-right: initial;
	}
}

// Layout margin fixed right 

// Tablet view
%lm-fixed-right-tv {
	@media screen and (min-width: var.$tablet-view) {
		margin-left: initial;
	}
}

// Laptop view
%lm-fixed-right-lv {
	@media screen and (min-width: var.$laptop-view) {
		margin-left: initial;
	}
}

// PC view
%lm-fixed-right-pcv {
	@media screen and (min-width: var.$pc-view) {
		margin-left: initial;
	}
}

// Layout margin auto
%lm-auto {
	margin-left: auto;
	margin-right: auto;
}

// Mobile landscape view
%lm-auto-mlv {
	@media screen and (min-width: var.$mobile-landscape-view) {
		margin-left: auto;
		margin-right: auto;
	}
}

// Tablet view
%lm-auto-tv {
	@media screen and (min-width: var.$tablet-view) {
		margin-left: auto;
		margin-right: auto;
	}
}

// Laptop view
%lm-auto-lv {
	@media screen and (min-width: var.$laptop-view) {
		margin-left: auto;
		margin-right: auto;
	}
}

// PC view
%lm-auto-pcv {
	@media screen and (min-width: var.$pc-view) {
		margin-left: auto;
		margin-right: auto;
	}
}

// Layout margin auto fixed width
%lm-auto-fixed-width {
	max-width: var.$lm-auto-fixed-width;
	@extend %lm-auto;
}

// || Layout padding

// Layout padding right
// Tablet view
%lp-right-tv {
	@media screen and (min-width: var.$tablet-view) {
		padding-right: var.$lp-base;
	}

	@media screen and (min-width: var.$laptop-view) {
		padding-right: var.$lp-normal;
	}

	@media screen and (min-width: var.$pc-view) {
		padding-right: var.$lp-wide
	}
}

// Laptop view
%lp-right-lv {
	@media screen and (min-width: var.$laptop-view) {
		padding-right: var.$lp-normal;
	}

	@media screen and (min-width: var.$pc-view) {
		padding-right: var.$lp-wide
	}
}

// PC view
%lp-right-pcv {
	@media screen and (min-width: var.$pc-view) {
		padding-right: var.$lp-wide;
	}
}

// Layout padding left

// Tablet view
%lp-left-tv {
	@media screen and (min-width: var.$tablet-view) {
		padding-left: var.$lp-base;
	}

	@media screen and (min-width: var.$laptop-view) {
		padding-left: var.$lp-normal;
	}

	@media screen and (min-width: var.$pc-view) {
		padding-left: var.$lp-wide;
	}
}

// Laptop view
%lp-left-lv {
	@media screen and (min-width: var.$laptop-view) {
		padding-left: var.$lp-normal;
	}

	@media screen and (min-width: var.$pc-view) {
		padding-left: var.$lp-wide;
	}
}

// PC view
%lp-left-pcv {
	@media screen and (min-width: var.$pc-view) {
		padding-left: var.$lp-wide;
	}
}