/* || Block - Services with carousel
   ========================================================================== */
// Features:
// services block with carousel to display each service
// serivices as card having centered content with rounded icon
// split and normal heading

@use '../../abstracts/variables' as var;
@use '../../base/sitewide';
@use '../../layout/grid';
@use '../../components/card/card-center-round-icon';
@use 'sass:color';

.services-carousel {
	background-color: color.adjust(var.$bc-ternary-lighter, $hue: 15);
	padding: 32px 0 50px;

	@media screen and (min-width: var.$laptop-view) {
		padding: 70px 0 80px;
	}
}

/* layout margin fixed */
.sc-lm-fixed {
	@extend %lm-fixed;
}

/* normal heading */
.sc-heading {
	text-align: center;
	@extend %ffp-cp-xl-font;
	@extend %base-500;
}

/* split heading */
.sc-split-heading {
	text-align: center;
}

/* split heading first text */
.sc-sh-first-txt {
	@extend %ffp-cp-xl-font;
	@extend %base-500;
}

/* split heading second text */
.sc-sh-second-txt {
	@extend %ffp-bcs-xl-font;
	@extend %base-700;
}

.sc-para {
	text-align: center;
	@extend %normal-300;
	@extend %ffp-cs-s-font;
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 75px;
}

// carousel element
.sc-carousel {}

// carousel item
.sc-carousel-item {
	padding-left: 10px;
	padding-right: 10px;
}

.sc-link-wrapper {
	@extend %link-wrapper-basic;
}