/* || Block - Services three column
   ========================================================================== */
// Features:
// Two image column and a description column
// Grid
// split heading, custom list and read more

@use '../../abstracts/variables' as var;
@use '../../base/typography';
@use '../../layout/layout-base';
@use '../../components/list/ol-custom-number-unaligned';
@use '../../components/button/btn-capsule-hover-wipe';

.services-three-column {
	padding-bottom: 60px;
}

.services-tc-wr {
	@media screen and (min-width: var.$tablet-view) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"col2 col1";
	}

	@media screen and (min-width: var.$laptop-view) {
		grid-template-columns: 3fr 2fr;
	}
}

.services-tc-col1 {
	@media screen and (min-width: var.$tablet-view) {
		grid-area: col1;
	}
}

.services-tc-col2 {
	margin-top: 40px;

	display: flex;
	gap: 10px 15px;
	flex-direction: column;

	@media screen and (min-width: var.$mobile-landscape-view) {
		flex-direction: row;
	}

	@media screen and (min-width: var.$tablet-view) {
		grid-area: col2;
		margin-top: 0;

		flex-direction: column;
	}

	@media screen and (min-width: var.$laptop-view) {
		flex-direction: row;
	}

	@media screen and (min-width: var.$pc-view) {
		column-gap: 20px;
	}
}

.services-tc-img-wr {

	&:first-child .services-tc-img {
		@media screen and (min-width: var.$mobile-portrait-view) {
			object-position: center;
		}
	}

	&:last-child .services-tc-img {
		@media screen and (min-width: var.$mobile-portrait-view) {
			object-position: right 26%;
		}

		@media screen and (min-width: var.$laptop-view) {
			object-position: center;
		}
	}
}

.services-tc-img {
	width: 100%;
	height: 100%;

	@media screen and (min-width: var.$mobile-portrait-view) {
		height: 300px;
		object-fit: cover;
	}

	@media screen and (min-width: var.$mobile-landscape-view) {
		height: 100%;
		object-fit: initial;
	}

	@media screen and (min-width: var.$tablet-view) {
		height: 225px;
		object-fit: cover;
	}

	@media screen and (min-width: var.$laptop-view) {
		height: 100%;
	}
}

.services-tc-heading {
	@extend %ffp-cp-xxl-font;
	@extend %base-500;

	@media screen and (max-width: var.$tablet-view) {
		text-align: center;
	}

	@media screen and (min-width: var.$mobile-portrait-view) {
		margin-bottom: 1em;
	}
}

.services-tc-subheading {
	@extend %ffp-cp-s-font;
	@extend %base-500;
}

.services-tc-para {
	@extend %ffp-cs-s-font;
	@extend %normal-400;
}

.services-tc-ol {}

.services-tc-read-more {
	margin-top: 10px;
}

// Optional
// ------------

.services-tc-split-heading {
	margin-top: 0;

	@media screen and (max-width: (var.$tablet-view - 0.0625em)) {
		text-align: center;
	}

	@media screen and (min-width: var.$mobile-portrait-view) {
		margin-bottom: 1.2em;
	}
}

.services-tc-sh-first-text {
	@extend %ffp-cp-xxl-font;
	@extend %base-500;

	@media screen and (min-width: var.$pc-view) {
		font-size: var.$fs-xxl + 0.5rem;
	}
}

.services-tc-sh-second-text {
	@extend %ffp-bcs-xxl-font;
	@extend %base-700;

	@media screen and (min-width: var.$pc-view) {
		font-size: var.$fs-xxl + 0.5rem;
	}
}

.services-tc-lm-fixed {
	@extend %lm-fixed;
}

.services-tc-lp-left-tv {
	@extend %lp-left-tv;
}