/* || Themes - Default theme
   ========================================================================== */

// When having several themes, this file contains everything related to the
// default one.

@use '../abstracts/variables' as var;

/* || General styles */

/* || Typography */

/* || Header and Main Navigation */

/* || Utilitites */

/* || Sitewiede */

/* || Store Pages */
// Specific things, broken down by the context, page, or even component in 
// which they are used.

// || Footer

.attr-sl-background {
	padding: 13px 0;
}

.attr-sl-bg-cnt {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}