/* || Abstracts - Sitewide
   ========================================================================== */

@use '../abstracts/variables' as var;
@use 'sass:color';

// || Flex

// Flexible vertically center(vc) and horizontally space between(hsb)
%flex-vc-hsb {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

// Flexible vertical and horizontal centered
%flex-vh-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

// Flexible direction column aligned centerd 
%flex-dc-a-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

// Flexible vertically centered horizontally right
%flex-v-center-h-right {
	display: flex;
	justify-content: right;
	align-items: center;
}

// Flexible horizontally right
%flex-h-right {
	display: flex;
	justify-content: flex-end;
}

// || Inline-flex

// Flexible(inline) vertical and horizontal centered
%inline-flex-vh-center {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

// Fixed horizontally centered
%fixed-h-center {
	margin-left: auto;
	margin-right: auto;
}
