/* || Base - Typography
   ========================================================================== */
@use '../abstracts/variables' as var;

// In the below font category the first word indicate its color then size (l-large 
// denotes h1 and xl or xxl indicate size for design purpose)
// font sizes: large(h1), medium(h2), small(h3), x-small(h4)(optional: x-large, 
// xx-large, xx-small)

// || Placeholders
// -----------------------------------------------------------------------------

%base-spacing {
	word-spacing: 0.8px;
	letter-spacing: 0.4px;
}

// || PP Fonts (primary-color primary-font font sizes)

%primary-xl-font {
	font-size: var.$fs-xl;
	color: var.$c-primary;
	font-family: var.$ff-primary;

	@media screen and (min-width: var.$mobile-view-landscape) {
		font-size: (var.$fs-l * 1.14);
	}
}

%primary-l-font {
	font-size: var.$fs-l;
	color: var.$c-primary;
	font-family: var.$ff-primary;

	@media screen and (min-width: var.$mobile-view-landscape) {
		font-size: (var.$fs-l * 1.14);
	}
}

// || SP fonts (Secondary-color primary-font font sizes)

%secondary-l-font {
	font-size: var.$fs-l;
	color: var.$c-secondary;
	font-family: var.$ff-primary;
}

%secondary-m-font {
	font-size: var.$fs-m;
	color: var.$c-secondary;
	font-family: var.$ff-primary;
}

%secondary-s-font {
	font-size: var.$fs-s;
	color: var.$c-secondary;
	font-family: var.$ff-primary;
}

// || LH-FW (Line height with font weight)

%base-400 {
	line-height: var.$lh-base;
	font-weight: 400;
}

%base-500 {
	line-height: var.$lh-base;
	font-weight: 500;
}

%base-700 {
	line-height: var.$lh-base;
	font-weight: 700;
}

%normal-400 {
	line-height: var.$lh-normal;
	font-weight: 400;
}

%normal-500 {
	line-height: var.$lh-normal;
	font-weight: 500;
}

%normal-700 {
	line-height: var.$lh-normal;
	font-weight: 700;
}

%wide-400 {
	line-height: var.$lh-wide;
	font-weight: 400;
}

%wide-500 {
	line-height: var.$lh-wide;
	font-weight: 500;
}

%wide-700 {
	line-height: var.$lh-wide;
	font-weight: 700;
}

// || mixins
// -----------------------------------------------------------------------------

// || styles
// -----------------------------------------------------------------------------

body {
	font-size: 15px;
	font-family: var.$ff-primary;
	color: var.$c-primary;
	line-height: var.$lh-normal;
	font-weight: 400;
}

h1 {
	@extend %primary-xl-font;
	@extend %base-700
}

h2 {
	@extend %primary-l-font;
	@extend %base-700
}

h3 {
	@extend %secondary-m-font;
	@extend %base-700
}

p {
	@extend %secondary-m-font;
	@extend %normal-400;
}

label {
	@extend %secondary-m-font;
	font-weight: 400;
}

button {
	@extend %secondary-m-font;
	font-weight: 400;
	text-transform: uppercase;
}