/* || Base - Typography
   ========================================================================== */
@use '../abstracts/variables' as var;

// In the below font category the first word indicate its color then size (l-large 
// denotes h1 and xl or xxl indicate size for design purpose)
// font sizes: large(h1), medium(h2), small(h3), x-small(h4)(optional: x-large, 
// xx-large, xx-small)

// || Placeholders
// -----------------------------------------------------------------------------

%base-spacing {
	word-spacing: 0.8px;
	letter-spacing: 0.4px;
}

// || FFP-CP Fonts (ff-primary c-primary fonts)

%ffp-cp-xxl-font {
	font-size: var.$fs-xxl;
	color: var.$c-primary;
	font-family: var.$ff-primary;
}

%ffp-cp-xl-font {
	font-size: var.$fs-xl;
	color: var.$c-primary;
	font-family: var.$ff-primary;
}

%ffp-cp-l-font {
	font-size: var.$fs-l;
	color: var.$c-primary;
	font-family: var.$ff-primary;
}

// || FFP-CS fonts (ff-primary c-secondary fonts)

%ffp-cs-l-font {
	font-size: var.$fs-l;
	color: var.$c-secondary;
	font-family: var.$ff-primary;
}

%ffp-cs-m-font {
	font-size: var.$fs-m;
	color: var.$c-secondary;
	font-family: var.$ff-primary;
}

%ffp-cs-s-font {
	font-size: var.$fs-s;
	color: var.$c-secondary;
	font-family: var.$ff-primary;
}

// || FFS-CP fonts (ff-secondary c-primary fonts)

%ffs-cp-l-font {
	font-size: var.$fs-l;
	color: var.$c-primary;
	font-family: var.$ff-secondary;
}

// || FFP-BCP fonts (ff-primary bc-secondary fonts)

%ffp-bcp-l-font {
	font-size: var.$fs-l;
	color: var.$bc-primary;
	font-family: var.$ff-primary;
}

// || FFP-BCS fonts (ff-primary bc-secondary fonts)

%ffp-bcs-xxl-font {
	font-size: var.$fs-xxl;
	color: var.$bc-secondary;
	font-family: var.$ff-primary;
}

// || FFT-BCP fonts (ff-ternary bc-primary fonts)

%fft-bcp-xs-font {
	font-size: var.$fs-xs;
	color: var.$bc-primary;
	font-family: var.$ff-ternary;
}

// || LH-FW (Line height with font weight)

%base-300 {
	line-height: var.$lh-base;
	font-weight: 300;
}

%base-400 {
	line-height: var.$lh-base;
	font-weight: 400;
}

%base-500 {
	line-height: var.$lh-base;
	font-weight: 500;
}

%base-700 {
	line-height: var.$lh-base;
	font-weight: 700;
}

%normal-300 {
	line-height: var.$lh-normal;
	font-weight: 300;
}

%normal-400 {
	line-height: var.$lh-normal;
	font-weight: 400;
}

%normal-500 {
	line-height: var.$lh-normal;
	font-weight: 500;
}

%normal-700 {
	line-height: var.$lh-normal;
	font-weight: 700;
}

%wide-300 {
	line-height: var.$lh-wide;
	font-weight: 300;
}

%wide-400 {
	line-height: var.$lh-wide;
	font-weight: 400;
}

%wide-500 {
	line-height: var.$lh-wide;
	font-weight: 500;
}

%wide-700 {
	line-height: var.$lh-wide;
	font-weight: 700;
}

// || mixins
// -----------------------------------------------------------------------------

// || styles
// -----------------------------------------------------------------------------

body {
	font-size: 15px;
	font-family: var.$ff-primary;
	color: var.$c-primary;
	line-height: var.$lh-normal;
	font-weight: 400;
}

h1 {
	@extend %ffp-cp-xl-font;
	@extend %base-700
}

h2 {
	@extend %ffp-cp-l-font;
	@extend %base-700
}

h3 {
	@extend %ffp-cs-m-font;
	@extend %base-700
}

p {
	@extend %ffp-cs-m-font;
	@extend %normal-400;
}

label {
	@extend %ffp-cs-m-font;
	font-weight: 400;
}

button {
	@extend %ffp-cs-m-font;
	font-weight: 400;
}