/* || Abstracts - Utilities
   ========================================================================== */

// This will hide an element or block visually and still be able available for 
// for screen readers 
%hide-visually {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}

// Remve unordered list default style
%ul-no-style {
	padding: 0;
	list-style-type: none;
}

// remove link docoration and outline
%link-no-decor-outline {
	text-decoration: none;
	outline: none;
}

// absolute element cover its container
%position-absolute-cover {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

// Remove field set default style
%fieldset-no-style {
	padding: 0;
	margin: 0;
	border: none;
}