/* || Component - Form radiused
   ========================================================================== */

@use '../../abstracts/variables' as var;
@use '../../abstracts/mixins' as mx;
@use '../../base/typography';
@use '../../base/utilities';
@use 'sass:color';

.form-radiused {}

.form-rd-ul {
	@extend %ul-no-style;
}

.form-rd-row-wr,
.form-rd-li {
	&:not(:last-child) {
		margin-bottom: 20px;
	}
}

.form-rd-label {
	@extend %ffp-cp-xs-font;
	@extend %base-400;
}

// for *(required) - this should be inside label
.form-rd-label-required {
	@extend %ffp-cp-xs-font;
	@extend %base-400;
}

.form-rd-errormsg,
.form-rd-global-errormsg {
	display: none;
	@extend %ffp-ce-xs-font;
	@extend %normal-400;
}

.form-rd-global-errormsg {
	margin-top: 10px;
}

.form-rd-errormsg-active,
.form-rd-g-errormsg-active {
	display: inline-block;
}

.form-rd-hide-visually {
	@extend %hide-visually;
}

// -------Inputs starts---------
.form-rd-input-email,
.form-rd-input-text {
	@extend %ffp-cp-xs-font;
	@extend %base-400;
}

// common
.form-rd-input-email,
.form-rd-input-text,
.form-rd-textarea {
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 1px solid color.adjust(var.$c-primary, $alpha: -0.9);
	border-radius: 8px;
}

.form-rd-input-email:focus,
.form-rd-input-text:focus,
.form-rd-textarea:focus {
	outline: 2px solid var.$bc-secondary;
	// outline-offset: 1px;
	box-shadow: 0 5px 32px color.adjust(var.$bc-secondary, $alpha: -0.9);
}

.form-rd-input-email-error:invalid,
.form-rd-input-text-error:invalid {
	border: 1px solid var.$c-error;
}

.form-rd-textarea {
	@extend %ffp-cp-xs-font;
	@extend %normal-400;
	vertical-align: top;
	height: 165px;
}

// -------Inputs ends---------

// for each item to expand to full width
.form-rd-full-width {
	width: 100%;
}

// for each item to next line
.form-rd-block {
	display: block;
}

.form-rd-submit-btn {
	@extend %ffp-bcp-xs-font;
	@extend %base-400;
	@extend %base-spacing;
	@include mx.btn-capsule($background-color: var.$bc-secondary,
		$color: false,
		$width: false,
		$outline: none,
		$padding: 13px 35px,
		$hover-bg-color: var.$c-primary,
		$hover-color: false,
		$border-radius: 200px,
		$active-bg-color: color.adjust(var.$c-primary, $blackness: 15%),
		$active-color: false);
}