/* || Components - Icon rounded with background 
   ========================================================================== */

@use '../../abstracts/variables' as var;
@use '../../base/sitewide';
@use '../../abstracts/mixins' as mx;
@use 'sass:color';

$background-color: var.$bc-tertiary;
$icon-width: 67px;
$icon-img-width: 33px;

.icon-rounded-bg {
	@extend %flex-vh-center;
	background-color: $background-color;
	border-radius: 50%;
	width: $icon-width;
	height: $icon-width;
}

.ir-bg-responsive {
	@media screen and (min-width: var.$mobile-landscape-view) {
		width: ($icon-width + 8);
		height: ($icon-width + 8);
	}
}

.ir-bg-img {
	@include mx.svg-fixed-size ($color: false,
		$width: $icon-img-width,
		$height: $icon-img-width,
		$stroke: var.$bc-secondary,
		$fill: false)
}