/* || Block - Team with description and gallery
   ========================================================================== */
// Features:
// split and normal heading
// read more link
// gallery

@use '../../abstracts/variables' as var;
@use '../../base/typography';
@use '../../components/gallery/gallery-queue';
@use 'sass:color';

.team-desc-gallery {
	margin-top: 60px;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: color.adjust(var.$bc-ternary-lighter, $hue: 15);

	@media screen and (min-width: var.$mobile-view-landscape) {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}

.team-dg-wr {
	@media screen and (min-width: var.$laptop-view) {
		display: flex;
	}
}

.team-dg-column {}

.team-dg-desc-column {

	@media screen and (min-width: var.$laptop-view) {
		flex: 1;
	}
}

.team-dg-gallery-column {
	margin-top: 35px;

	@media screen and (min-width: var.$laptop-view) {
		flex: 2;
	}
}

.team-dg-heading {
	margin: 0;
	@extend %ffp-cp-xl-font;
	@extend %base-500;
}

.team-dg-split-heading {
	margin: 0;
}

.team-dg-sh-content {}

.team-dg-sh-first-text {
	@extend %ffp-cp-xl-font;
	@extend %base-500;
}

.team-dg-sh-second-text {
	@extend %ffp-bcs-xl-font;
	@extend %base-700;
}

.team-dg-para {
	@extend %ffp-cs-s-font;
	@extend %normal-300;
}

.team-dg-read-more {
	margin-top: 13px;
	@extend %ffp-bcp-s-font;
	height: 44px;
}